<!DOCTYPE html>
<html lang="pt">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nova Tarefa</h1>
    <form th:action="@{nova.html}" method="post">
        <div>
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" th:value="${tarefa.titulo}">
        </div>
        <div>
            <label for="tomatos">Tomatos</label> 
            <input type="number" name="tomatos" id = "tomatos" th:field="${tarefa.tomatos}">

        </div>
        <div></div>

    </form>

</body>
</html>